.slider {
    position: relative;
    overflow: visible;
    padding: 0 0;
    margin-inline: 0;
}

.button {
    transition: 0.3s;
    cursor: pointer;
}

.button:hover {
    background-color: #808080;
}

.dark-mode .button:hover {
    background-color: #4a4974;
}

.custom-arrow-left {
    position: absolute;
    height: 180px;
    width: 20px;
    top: 10px;
    left: 0px;
    z-index: 9;
    background-color: #B6BBC4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dark-mode .custom-arrow-left {
    background-color: #31304D;
}

.custom-arrow-right {
    position: absolute;
    height: 180px;
    width: 20px;
    top: 10px;
    right: 0px;
    z-index: 9;
    background-color: #B6BBC4;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dark-mode .custom-arrow-right {
    background-color: #31304D;
}

.custom-arrow-left__arrow {
    position: absolute;
    top: 83px;
    left: 5px;
    z-index: 10;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid whitesmoke;
}

.dark-mode .custom-arrow-left__arrow {
    border-right: 10px solid #161A30;
}

.custom-arrow-right__arrow {
    position: absolute;
    top: 83px;
    right: 5px;
    z-index: 10;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid whitesmoke;
}

.dark-mode .custom-arrow-right__arrow {
    border-left: 10px solid #161A30;
}

.slider-wrapper {
    position: relative;
    background-color: #F5F5F5;
    padding-inline: 10px;
    border-radius: 10px;
}

.dark-mode .slider-wrapper {
    background-color: #1D2138;
}

@media (max-width: 3000px) {
    .slider-wrapper {
        width: 1100px;
    }
}

@media (max-width: 1024px) {
    .slider-wrapper {
        width: 660px;
    }
}

@media (max-width: 767px) {
    .slider-wrapper {
        width: 440px;
    }
}

.react-multi-carousel-track {
    padding: 10px 0 10px 0;
}

.react-multi-carousel-list {
    margin-inline: 0px;
}
