# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for commiting if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/.vs/slnx.sqlite
/.vs/sop/FileContentIndex
/.vs/sop/FileContentIndex/116d2824-0629-4fad-b512-14adfbbc1621.vsidx
/.vs/sop/v17
/.vs/sop/v17/.wsuo
/.vs/sop/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.gitignore
/.gitignore
*.config
/.vs/sop/v17/.wsuo
/.vs/VSWorkspaceState.json
/.vs/sop/v17/DocumentLayout.json
