.buildermenu {
    grid-column: 2 / 3;
    grid-row: 1;
    background-color: #161A30;
    color: white;
    border-left: 1px solid #31304D;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: 100%;

    >h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 16px;
    }
}

h4 {
    padding-top: 8px;
    margin-bottom: 8px;
}
