.body {
    background-color: #FDFDFD;
}

.content {
    background-color: #FDFDFD;
    min-height: 92vh;
    min-width: 100vw;
}

.divider {
    position: absolute;
    top: calc(45vh + 49px);
    width: 80%;
    background-color: #F5F5F5;
    border-radius: 0.25rem;
    height: 2px;
    margin: 0 30px 0 30px;
}

.new-project-container {
    cursor: pointer;
    background-color: #FDFDFD;
    border-color: #B6BBC4;
    border-style: solid;
    border-width: 4px;
    height: 180px;
    width: 212px;
    transition: 0.3s;
}

.new-project-container:hover {
    background-color: #F5F5F5;
    border-color: #808080;
}

.horizontal-plus {
    background-color: #161A30;
    width: 64px;
    height: 6px;
    margin: 80px 0 0 70px;
    position: absolute;
}

.vertical-plus {
    background-color: #161A30;
    width: 6px;
    height: 64px;
    margin: 50px 0 0 98px;
    position: absolute;
}

.new-project-title {
    color: #161A30;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 135px 0 0 50px;
    position: absolute;
    font-weight: bold;
}

.suggested-actions {
    display: flex;
    justify-content: center;
}

.suggested-wrapper {
    margin: 0 0 0 35px;
    background-color: #F5F5F5;
    border-radius: 0.5rem;
    padding: 10px;
    width: 450px;
    height: 200px;
}

.suggested-container {
    display: flex;
    flex-direction: column;
    height: 45vh;
    margin-top: 50px;
}

.suggested-container h1 {
    color: #161A30;
}

.suggested-title {
    margin: 30px 0 10px 35px;
    font-weight: 100;
    font-family: 'Roboto Condensed';
}

.slider-title h1 {
    color: #161A30;
}

.project-container {
    cursor: pointer;
    justify-content: center;
    background-color: #FDFDFD;
    border-color: #B6BBC4;
    border-style: solid;
    border-width: 4px;
    height: 180px;
    width: 212px;
    padding: 3.5px 0 0 4px;
    margin: 0 0 0 10px;
    transition: 0.3s;
}

.project-container:hover {
    background-color: #F5F5F5;
    border-color: #808080;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
}

//edit to an appropriate image over random color
.project-image-wrapper {
    background-color: whitesmoke;
    border-radius: 0.25rem;
    height: 106px;
    width: 196px;
}

.project-description-wrapper {
    display: flex;
    flex-direction: column;
    border-color: #B6BBC4;
    border-top: 3px;
    height: 60px;
    width: 200px;
    margin-top: 10px;
}

.project-title {
    align-self: start; 
    color: #161A30;
    padding: 0 0 0 4px;
    font-size: 16px;
}

.project-date {
    align-self: start;
    color: #161A30;
    font-size: 12px;
    font-weight: bold;
    padding: 0 0 0 6px;
    margin: 6px 0 0 0;
}






//fix the following css shite

.not-found-title {
    color: black;
    display: flex;
    justify-self: center;
}


.searchbar-input {
    all: unset;
    color: black;
    display: block;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 500px;
    background-color: #F5F5F5;
    border: 2px solid #B6BBC4;
    font-family: 'Roboto Condensed';
}

.recent-projects-container {
    height: 48vh;
    display: flex;
    flex-direction: column;
}

.recent-projects-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 30px 0 0 35px;
}

.slider {
    margin: 0;
    overflow: visible;
    padding: 10px 10px;
}

.slider-container {
    max-width: 1080px;
    align-self: start;
}

.slider-wrapper {
    overflow: visible;
    margin-inline: 0;
}

.slider-title h1 {
    font-weight: 100;
    font-family: 'Roboto Condensed';
    margin: 5px 0 5px 0;
}